html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: underline;
}

.name-main {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  margin-bottom: 0.75em;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}
.name>a {
  cursor: pointer;
}

.photo {
  margin-bottom: 3.5em;
}
.photo>a {
  background-image: url('../img/memo-dark.jpg');
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 7.5em;
  height: 7.5em;
}

.photo>a:hover {
  cursor: default;
}

.text-font {
  font-family: 'Quattrocento', serif;
}

.social-networks {
  margin-top: 3.5em;
}
@media (max-height: 500px) {
  .social-networks {
    margin-top: 1.5em;
  }
}

.icon-links {
  font-size: 1.5em;
}

.icon-links > a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.icon {
  font-size: 2em;
}

.nolink {
  color: inherit !important;
  text-decoration: none;
}

hr {
  margin: 0.125em;
}

.zen {
  margin-top: 1.5em;
  line-height: 2em;
}

.quotation-marks {
  quotes: "“" "”";
}

.presentation {
  margin: auto;
  max-width: 450px;
}