.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
  margin-bottom: 0.75em;
}

.photo {
  margin-bottom: 3.5em;
}

.text-font {
  font-family: 'Quattrocento', serif;
}

.links-element {
  padding-top: .1;
  padding-bottom: .1;
}

.links-element>a {
  color: inherit !important;
}

.social-networks {
  margin-top: 3.5em;
}

.icon-links {
  font-size: 1.25em;
}

.icon-links > a {
  color: inherit;
  text-decoration: none;
}
