html {
  -webkit-font-smoothing: antialiased;
}

.name-main {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  margin-bottom: 0.75em;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}
.name>a {
  cursor: pointer;
}

.photo {
  margin-bottom: 2.5em;
}

.text-font {
  font-family: 'Quattrocento', serif;
}

.links-element {
  padding-top: .1;
  padding-bottom: .1;
}

.links-element>a {
  color: inherit !important;
}

.social-networks {
  margin-top: 3.5em;
}
@media (max-height: 500px) {
  .social-networks {
    margin-top: 1.5em;
  }
}

.icon-links {
  font-size: 1.5em;
}

.icon-links > a {
  color: inherit;
  text-decoration: none;
}

.icon {
  font-size: 2em;
}

.nolink {
  color: inherit !important;
  text-decoration: none;
}

hr {
  margin: 0.125em;
}

.intro-row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.zen {
  margin-top: 1.5em;
  line-height: 2em;
}

.quotation-marks {
  quotes: "“" "”";
}

.pdf {
  margin-top: 1em;
  height: 90vh;
}

.font {
  font-family: 'Open Sans', sans-serif;
}

.card {
  margin: 1em 0;
}

iframe {
  margin-left: auto;
  margin-right: auto;
}

.header-row {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10000;
  padding: 1em;
  border-bottom: 1px solid lightgray;
}

.hero-row {
  background-color: black;
  color: white;
  background-image: url('/img/oliver-opaque.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  line-height: 90vh;
}

.intro-row {
  text-align: center;
  margin: auto;
  max-width: 600px;
  display: inline-block;
  vertical-align: middle;
}
.intro-row>h1 {
  margin-top: 0;
}
.intro-row .presentation {
  font-size:1.25em;
  text-align: left;
  line-height: normal;
  padding: 0 1em;
}

.blog-container {
  padding-top: 5em;
}

article {
  margin: 2.5em 0;
}
article .post-title h1 {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
article author:hover{
  color: black;
  cursor: pointer;
}
article date:hover{
  color: black;
  cursor: pointer;
}
article .post-content {
  margin: 1.5em 0 0;
}
article .post-content * {
  /*font-family: inherit !important;*/
  font-family: 'Quattrocento', serif !important;
  font-size: 20px !important;
  line-height: 1.5 !important;
}
