.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
  margin-bottom: 0.75em;
}

.photo {
  margin-bottom: 3.5em;
}

.text-font {
  font-family: 'Quattrocento', serif;
}

.bio {
}

.bio > a {
  color: inherit;
  text-decoration: none;
}

.social-networks {
  margin-top: 5em;
}

.icon-links {
  font-size: 2.5em;
}

.icon-links > a {
  color: inherit;
  text-decoration: none;
}
